@media screen and (max-width: 857px) {
  #header .header-wrapper nav {
    display: none;
  }
  #header .header-wrapper .header-buttons {
    border: none;
  }
  #header .header-wrapper .header-buttons .header-login-button {
    display: none;
  }
  #header .header-wrapper #hamburguer {
    display: block;
    margin-left: 15px;
  }
  #header .header-wrapper #hamburguer i {
    color: #a09e9e;
  }
}

.green-button {
  border-radius: 50px;
  background: #5dfc70;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1em);
}

@media only screen and (max-width: 977px) {
  .green-button {
    padding: 7px;
  }
}

@-webkit-keyframes fly {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fly {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes applause {
  30% {
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-150px) scaleX(0.5) scaleY(0.5);
            transform: translateY(-150px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
}

@keyframes applause {
  30% {
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-150px) scaleX(0.5) scaleY(0.5);
            transform: translateY(-150px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes applause-left {
  30% {
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-150px) translateX(-30px) scaleX(0.5) scaleY(0.5);
            transform: translateY(-150px) translateX(-30px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
}

@keyframes applause-left {
  30% {
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-150px) translateX(-30px) scaleX(0.5) scaleY(0.5);
            transform: translateY(-150px) translateX(-30px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes applause-right {
  30% {
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-150px) translateX(30px) scaleX(0.5) scaleY(0.5);
            transform: translateY(-150px) translateX(30px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
}

@keyframes applause-right {
  30% {
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-150px) translateX(30px) scaleX(0.5) scaleY(0.5);
            transform: translateY(-150px) translateX(30px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
            transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
            transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.modal-login-container.show-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-login-container.show-modal .modal-login, .modal-login-container.show-modal .modal-reset {
  -webkit-animation: modal .5s;
          animation: modal .5s;
}

.modal-login-container {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-login-container .modal-login {
  position: relative;
  width: 25%;
  background: #ffffff;
  border-radius: 25px;
  min-width: 300px;
  padding: 60px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-login-container .modal-login strong {
  font-size: 27px;
  color: #1d1d1f;
  line-height: 2rem;
}

.modal-login-container .modal-login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-login-container .modal-login form .modal-login-buttom {
  background: #5dfc70;
  border: none;
  color: #1d1d1f;
  font-weight: 600;
}

.modal-login-container .modal-login form a {
  text-decoration: none;
  color: #1967d2;
  font-weight: 600;
  font-size: 11px;
  margin-top: 10px;
  text-align: right;
  width: 100%;
}

.modal-login-container .modal-login form span {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 600;
}

.modal-login-container .modal-login form p {
  color: #1d1d1f;
  font-weight: 600;
  text-align: center;
  margin: 15px 0;
}

.modal-login-container .modal-login form input {
  border: 1px solid #c4c4c4;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  color: #1d1d1f;
}

.modal-login-container .modal-login form .modal-pass-input {
  margin-top: 15px;
}

.modal-login-container .modal-login form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.modal-login-container .modal-login form button img {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  position: absolute;
  left: 10px;
}

.modal-login-container .modal-login .modal-close {
  position: absolute;
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 18px;
  right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d1d1f;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.modal-login-container .modal-login.disabled {
  display: none;
}

.modal-login-container .modal-reset {
  position: relative;
  width: 25%;
  background: #ffffff;
  border-radius: 25px;
  min-width: 300px;
  padding: 60px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-login-container .modal-reset strong {
  font-size: 27px;
  color: #1d1d1f;
  line-height: 2rem;
}

.modal-login-container .modal-reset p {
  color: #a09e9e;
  font-weight: 400;
  font-size: 13px;
  margin: 20px 0;
}

.modal-login-container .modal-reset form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-login-container .modal-reset form input {
  border: 1px solid #c4c4c4;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  color: #1d1d1f;
}

.modal-login-container .modal-reset form .modal-reset-send-button {
  background: #5dfc70;
  border: none;
  color: #1d1d1f;
  font-weight: 600;
  width: 75%;
}

.modal-login-container .modal-reset form a {
  text-decoration: none;
  color: #1967d2;
  font-weight: 600;
  font-size: 11px;
  margin-top: 10px;
  text-align: center;
  width: 25%;
}

.modal-login-container .modal-reset form button {
  width: 75%;
  padding: 10px;
  margin-top: 15px;
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.modal-login-container .modal-reset .modal-close {
  position: absolute;
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 18px;
  right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d1d1f;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.modal-login-container .modal-reset.disabled {
  display: none;
}

.modal-menu.disabled {
  display: none;
}

.modal-menu {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  -webkit-animation: fadeInLeft .5s;
          animation: fadeInLeft .5s;
}

.modal-menu .modal-menu-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-menu .modal-menu-wrapper button {
  position: absolute;
  top: 30px;
  right: 50px;
  background: none;
  border: 2px solid #c4c4c4;
  padding: 6px 10px;
  border-radius: 50%;
  color: #1d1d1f;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1em);
}

.modal-menu .modal-menu-wrapper ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
}

.modal-menu .modal-menu-wrapper ul li {
  padding: 15px;
}

.modal-menu .modal-menu-wrapper ul li .active {
  color: #5dfc70;
}

.modal-menu .modal-menu-wrapper ul li:hover {
  background: #f2f2f2;
}

.modal-menu .modal-menu-wrapper ul li a {
  text-decoration: none;
  margin-left: 100px;
  padding: 10px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

* {
  font-family: 'open-sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #a09e9e;
  font-family: Poppins;
  outline: none;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

img {
  max-width: 100%;
}

.margin-big {
  max-width: 1200px;
  width: 95%;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .margin-big {
    max-width: 730px;
  }
}

@media screen and (max-width: 799px) {
  .margin-big {
    width: 100%;
  }
}

.margin-middle {
  max-width: 1024px;
  width: 85%;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .margin-middle {
    max-width: 700px;
  }
}

@media screen and (max-width: 799px) {
  .margin-middle {
    width: 100%;
  }
}

.margin-small {
  max-width: 900px;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .margin-small {
    max-width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .margin-small {
    width: 100%;
  }
}

#header {
  position: fixed;
  z-index: 9;
  height: 64px;
  width: 100vw;
  -webkit-transition: .3s;
  transition: .3s;
}

.scroll {
  background: #ffffff;
}

.scroll .header-wrapper nav a {
  color: #a09e9e;
}

.scroll .header-buttons .header-login-button {
  color: #a09e9e;
}

.scroll .header-buttons .header-login-button i {
  color: #a09e9e;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.header-wrapper img {
  max-width: 160px;
  height: auto;
  margin-right: auto;
}

@media only screen and (max-width: 937px) {
  .header-wrapper img {
    max-width: 130px;
  }
}

@media only screen and (max-width: 907px) {
  .header-wrapper img {
    max-width: 110px;
  }
}

.header-wrapper nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-wrapper nav a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  color: #ffffff;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

@media only screen and (max-width: 977px) {
  .header-wrapper nav a {
    padding: 5px;
  }
}

.header-wrapper nav a:hover {
  color: #5dfc70;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-wrapper nav a.current {
  color: #5dfc70;
  border-bottom: 2px solid #5dfc70;
}

.header-wrapper #hamburguer {
  display: none;
}

.header-buttons {
  -webkit-transition: 0.3;
  transition: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  border-left: 1px solid #a09e9e;
}

@media only screen and (max-width: 977px) {
  .header-buttons {
    margin-left: 5px;
  }
}

.header-buttons button {
  margin-left: 5px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1em);
}

.header-buttons .header-login-button {
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1em);
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

@media only screen and (max-width: 977px) {
  .header-buttons .header-login-button {
    padding: 5px;
  }
}

.header-buttons .header-login-button i {
  margin-right: 5px;
  color: #ffffff;
}

.header-buttons .header-login-button:hover {
  color: #5dfc70;
}

.header-buttons .header-login-button i {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1em);
}

#banner {
  height: 100vh;
  min-width: 100vw;
  background: url("../assets/img/home/bg-banner.png") no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

#banner .banner-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
}

#banner .banner-wrapper section {
  width: 536px;
}

#banner .banner-wrapper section .banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 560px) {
  #banner .banner-wrapper section .banner-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#banner .banner-wrapper section .banner-play-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#banner .banner-wrapper section .banner-play-button i {
  margin-right: 5px;
  color: #ffffff;
}

@media screen and (max-width: 560px) {
  #banner .banner-wrapper section .banner-play-button {
    margin: 0;
    padding: 7px 0;
  }
}

#banner .banner-wrapper section .banner-play-button i {
  font-size: 27px;
}

#banner .banner-wrapper section h1 {
  font-size: clamp(1.75em, calc(1em + 2vw), 3.75em);
}

@media screen and (max-width: 560px) {
  #banner .banner-wrapper section h1 {
    width: 280px;
  }
}

#banner .banner-wrapper section h1, #banner .banner-wrapper section p {
  color: #ffffff;
}

#banner .banner-wrapper section p {
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
  width: 280px;
}

#banner .banner-wrapper section button {
  margin-right: 15px;
  color: #000;
}

#suporte {
  height: auto;
  padding: 130px 0 30px;
  position: relative;
}

@media screen and (max-width: 799px) {
  #suporte {
    padding: 70px 0 30px;
  }
}

#suporte .suporte-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#suporte .suporte-wrapper section {
  margin-right: 20px;
}

@media screen and (max-width: 799px) {
  #suporte .suporte-wrapper section {
    margin-bottom: 50px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 799px) {
  #suporte .suporte-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#suporte .suporte-wrapper section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #suporte .suporte-wrapper section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #suporte .suporte-wrapper section {
    width: 100%;
  }
}

#suporte .suporte-wrapper section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#suporte .suporte-wrapper section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#suporte .suporte-wrapper section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#suporte .suporte-wrapper .video {
  width: 260px;
}

#suporte .suporte-wrapper .video video {
  width: 100%;
  border-radius: 10px;
}

#suporte .suporte-wrapper .video-images {
  position: absolute;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 90px;
  bottom: 0px;
}

#suporte .suporte-wrapper .video-images[data-scroll="in"] {
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 799px) {
  #suporte .suporte-wrapper .video-images {
    right: 0;
    left: 0;
    bottom: 50px;
    position: relative;
  }
}

#suporte .suporte-wrapper .video-images img {
  width: 250px;
  margin: 3px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 18px 47px -6px rgba(0, 252, 101, 0.63);
          box-shadow: 0px 18px 47px -6px rgba(0, 252, 101, 0.63);
}

#metodo {
  height: auto;
  padding: 130px 0;
  position: relative;
}

@media screen and (max-width: 799px) {
  #metodo {
    padding: 50px 0;
  }
}

#metodo .metodo-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 799px) {
  #metodo .metodo-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#metodo .metodo-wrapper section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #metodo .metodo-wrapper section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #metodo .metodo-wrapper section {
    width: 100%;
  }
}

#metodo .metodo-wrapper section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#metodo .metodo-wrapper section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#metodo .metodo-wrapper section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#metodo .metodo-wrapper .metodo-video {
  width: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 799px) {
  #metodo .metodo-wrapper .metodo-video {
    margin-bottom: 50px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 465px) {
  #metodo .metodo-wrapper .metodo-video {
    width: 100%;
  }
}

#metodo .metodo-wrapper .metodo-video video {
  width: 100%;
  position: relative;
  border-radius: 10px;
}

#metodo .metodo-wrapper .metodo-video .playing {
  display: none;
}

#metodo .metodo-wrapper .metodo-video > img {
  z-index: 1;
  position: absolute;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

#escola {
  position: relative;
  height: auto;
  padding: 130px 0;
  background: #f2f2f2;
}

@media screen and (max-width: 799px) {
  #escola {
    padding: 70px 0;
  }
}

#escola .escola-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#escola .escola-wrapper .escola-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 560px) {
  #escola .escola-wrapper .escola-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#escola .escola-wrapper .escola-container > p {
  margin-left: 100px;
  width: 230px;
}

@media screen and (max-width: 560px) {
  #escola .escola-wrapper .escola-container > p {
    margin-left: 0;
    margin-top: 30px;
  }
}

#escola .escola-wrapper .escola-container section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #escola .escola-wrapper .escola-container section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #escola .escola-wrapper .escola-container section {
    width: 100%;
  }
}

#escola .escola-wrapper .escola-container section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#escola .escola-wrapper .escola-container section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#escola .escola-wrapper .escola-container section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#escola .escola-wrapper .escola-container .escola-slider {
  margin-top: 80px;
  position: relative;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-buttons {
  position: absolute;
  right: 30px;
  top: -70px;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 260px;
  margin: 0 5px;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item video {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 470px) {
  #escola .escola-wrapper .escola-container .escola-slider .escola-slider-item video {
    width: 260px;
  }
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info {
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 50%);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 470px) {
  #escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info {
    width: 260px;
  }
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info span {
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #5dfc70;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info strong {
  color: #ffffff;
  font-size: 20px;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info p {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: #ffffff;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info p i {
  font-size: 8px;
  color: #ffffff;
  margin-right: 4px;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .escola-video-info p i:nth-child(2) {
  margin-left: 10px;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item .playing {
  display: none;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item > img {
  z-index: 1;
  position: absolute;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

#escola .escola-wrapper .escola-container .escola-slider .escola-slider-item > img {
  top: 10px;
  left: 15px;
}

@media screen and (max-width: 470px) {
  #escola .escola-wrapper .escola-container .escola-slider .escola-slider-item > img {
    left: 100px;
  }
}

@media screen and (max-width: 380px) {
  #escola .escola-wrapper .escola-container .escola-slider .escola-slider-item > img {
    left: 50px;
  }
}

@media screen and (max-width: 338px) {
  #escola .escola-wrapper .escola-container .escola-slider .escola-slider-item > img {
    left: 30px;
  }
}

#auditoria {
  height: auto;
  padding: 130px 0;
}

#auditoria .auditoria-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
}

#auditoria .auditoria-wrapper section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #auditoria .auditoria-wrapper section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #auditoria .auditoria-wrapper section {
    width: 100%;
  }
}

#auditoria .auditoria-wrapper section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#auditoria .auditoria-wrapper section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#auditoria .auditoria-wrapper section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

@media screen and (max-width: 799px) {
  #auditoria .auditoria-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#auditoria .auditoria-wrapper .auditoria-video {
  width: 270px;
  height: auto;
  position: relative;
  margin-right: 40px;
}

@media screen and (max-width: 799px) {
  #auditoria .auditoria-wrapper .auditoria-video {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

#auditoria .auditoria-wrapper .auditoria-video .auditoria-video-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#auditoria .auditoria-wrapper .auditoria-video img {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#auditoria .auditoria-wrapper .auditoria-video .applause-2 {
  -webkit-animation-name: applause;
          animation-name: applause;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#auditoria .auditoria-wrapper .auditoria-video .applause-3 {
  -webkit-animation-name: applause-right;
          animation-name: applause-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

#auditoria .auditoria-wrapper .auditoria-video .applause-4 {
  -webkit-animation-name: applause-left;
          animation-name: applause-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

#auditoria .auditoria-wrapper .auditoria-video .applause-5 {
  -webkit-animation-name: applause;
          animation-name: applause;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

#auditoria .auditoria-wrapper .auditoria-video .applause-6 {
  -webkit-animation-name: applause-right;
          animation-name: applause-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#auditoria .auditoria-wrapper .auditoria-video video {
  -webkit-box-shadow: 14px 24px 25px -3px rgba(0, 0, 0, 0.31);
          box-shadow: 14px 24px 25px -3px rgba(0, 0, 0, 0.31);
  width: 100%;
  border-radius: 37px;
}

#palco {
  position: relative;
  height: auto;
  padding: 130px 0;
  background: #f2f2f2;
}

@media screen and (max-width: 799px) {
  #palco {
    padding: 70px 0;
  }
}

@media screen and (max-width: 560px) {
  #palco {
    background: none;
  }
}

#palco .palco-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#palco .palco-wrapper .palco-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 560px) {
  #palco .palco-wrapper .palco-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#palco .palco-wrapper .palco-container > p {
  margin-left: 100px;
  width: 230px;
}

@media screen and (max-width: 560px) {
  #palco .palco-wrapper .palco-container > p {
    margin-left: 0;
    margin-top: 30px;
  }
}

#palco .palco-wrapper .palco-container section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #palco .palco-wrapper .palco-container section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #palco .palco-wrapper .palco-container section {
    width: 100%;
  }
}

#palco .palco-wrapper .palco-container section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#palco .palco-wrapper .palco-container section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#palco .palco-wrapper .palco-container section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#palco .palco-wrapper .palco-container .palco-glider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#palco .palco-wrapper .palco-container .palco-glider-header p {
  font-size: 20px;
  color: #1d1d1f;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 560px) {
  #palco .palco-wrapper .palco-container .palco-glider-header p {
    display: none;
  }
}

#palco .palco-wrapper .palco-container .palco-glider-header .palco-buttons {
  position: absolute;
  width: 30px;
  right: 30px;
  top: -40px;
}

#palco .palco-wrapper .palco-container .palco-glider-header .palco-buttons i {
  padding: 7px 10px;
  border: 1px solid #a09e9e;
  border-radius: 50px;
}

#palco .palco-wrapper .palco-container .palco-slider {
  margin-top: 80px;
  position: relative;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 5px;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-video .playing {
  display: none;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-video > img {
  z-index: 1;
  position: absolute;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item video {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-info {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-info div img {
  width: 30px;
  height: 30px;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-info div p {
  font-size: 13px;
  font-weight: 600;
  color: #1d1d1f;
  margin-left: 10px;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-info div p span {
  font-weight: 300;
  font-size: 12px;
}

#palco .palco-wrapper .palco-container .palco-slider .palco-slider-item .palco-info div .palco-info-clap {
  width: 20px;
  height: 20px;
}

#acervo {
  height: auto;
  padding: 130px 0;
  position: relative;
}

@media screen and (max-width: 799px) {
  #acervo {
    padding: 70px 0;
  }
}

#acervo .acervo-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#acervo .acervo-wrapper section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #acervo .acervo-wrapper section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #acervo .acervo-wrapper section {
    width: 100%;
  }
}

#acervo .acervo-wrapper section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#acervo .acervo-wrapper section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#acervo .acervo-wrapper section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

@media screen and (max-width: 799px) {
  #acervo .acervo-wrapper section {
    margin-left: 50px;
  }
}

@media screen and (max-width: 438px) {
  #acervo .acervo-wrapper section {
    margin-left: 0;
  }
}

#acervo .acervo-wrapper .acervo-images {
  margin-top: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#acervo .acervo-wrapper .acervo-images .acervo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 150px;
}

@media screen and (max-width: 560px) {
  #acervo .acervo-wrapper .acervo-images .acervo-item {
    width: 100%;
    height: 120px;
    background: #f2f2f2;
    border-radius: 10px;
    margin-top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 438px) {
  #acervo .acervo-wrapper .acervo-images .acervo-item {
    padding-left: 0;
  }
}

#acervo .acervo-wrapper .acervo-images .acervo-item img {
  width: 100px;
  height: 100px;
}

#acervo .acervo-wrapper .acervo-images .acervo-item p {
  font-size: 11px;
  color: #1d1d1f;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 560px) {
  #acervo .acervo-wrapper .acervo-images .acervo-item p {
    margin-left: 20px;
    text-align: start;
  }
}

@media screen and (max-width: 438px) {
  #acervo .acervo-wrapper .acervo-images .acervo-item p {
    margin-left: 0;
  }
}

#bora {
  margin: 30px;
  height: auto;
  padding: 130px 0;
  position: relative;
  background: url("./../assets/img/home/ebook-headset.png") #f2f2f2 no-repeat 100% center;
  background-size: 500px;
}

@media screen and (max-width: 715px) {
  #bora {
    height: 600px;
    background-position: 100% 95%;
  }
}

@media screen and (max-width: 1104px) {
  #bora {
    background-size: 400px;
  }
}

@media screen and (max-width: 970px) {
  #bora {
    background-size: 350px;
  }
}

@media screen and (max-width: 799px) {
  #bora {
    padding: 70px 0;
    margin: 0;
    margin-bottom: 30px;
  }
}

#bora .bora-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 715px) {
  #bora .bora-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#bora .bora-wrapper section {
  width: 430px;
}

@media screen and (max-width: 974px) {
  #bora .bora-wrapper section {
    width: 300px;
  }
}

@media screen and (max-width: 434px) {
  #bora .bora-wrapper section {
    width: 100%;
  }
}

#bora .bora-wrapper section span {
  text-transform: uppercase;
  color: #636060;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#bora .bora-wrapper section h2 {
  color: #1d1d1f;
  font-size: clamp(1em, calc(1em + 1vw), 2.75em);
  font-weight: 700;
  line-height: 2.8rem;
}

#bora .bora-wrapper section p {
  color: #a09e9e;
  margin-bottom: 15px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

#bora .bora-wrapper form {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 900px) {
  #bora .bora-wrapper form {
    width: 365px;
  }
}

@media screen and (max-width: 715px) {
  #bora .bora-wrapper form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 300px;
  }
}

@media screen and (max-width: 639px) {
  #bora .bora-wrapper form {
    width: 280px;
  }
}

@media screen and (max-width: 575px) {
  #bora .bora-wrapper form {
    width: 260px;
  }
}

@media screen and (max-width: 434px) {
  #bora .bora-wrapper form {
    width: 100%;
  }
}

#bora .bora-wrapper form fieldset {
  border-radius: 50px;
  width: 250px;
}

@media screen and (max-width: 434px) {
  #bora .bora-wrapper form fieldset {
    width: 100%;
  }
}

#bora .bora-wrapper form fieldset legend {
  font-size: 12px;
  margin-left: 15px;
  padding: 0 5px;
}

#bora .bora-wrapper form fieldset input {
  width: 100%;
  padding: 0px 10px 5px;
  background: transparent;
  border: none;
  color: #1d1d1f;
  font-weight: 600;
}

@media screen and (max-width: 715px) {
  #bora .bora-wrapper form button {
    margin-top: 10px;
  }
}

#footer {
  height: auto;
  padding: 50px 0;
  position: relative;
  background: #f8f8f8;
}

#footer .footer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-wrapper .footer-content {
  margin-right: 100px;
}

@media screen and (max-width: 632px) {
  #footer .footer-wrapper .footer-content {
    margin-right: 50px;
    margin-top: 20px;
  }
}

#footer .footer-wrapper .footer-content .footer-socials a {
  margin-right: 15px;
}

#footer .footer-wrapper .footer-content h3 {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #1d1d1f;
  text-transform: uppercase;
}

#footer .footer-wrapper .footer-content ul {
  list-style: none;
}

#footer .footer-wrapper .footer-content ul li a {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 7px;
  cursor: pointer;
}

#footer .footer-wrapper .footer-info {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #c4c4c4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 560px) {
  #footer .footer-wrapper .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
}

#footer .footer-wrapper .footer-info p {
  font-size: 11px;
  font-weight: 600;
}

#footer .footer-wrapper .footer-info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 560px) {
  #footer .footer-wrapper .footer-info ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .footer-wrapper .footer-info ul li {
  margin-left: 15px;
}

@media screen and (max-width: 560px) {
  #footer .footer-wrapper .footer-info ul li {
    margin-left: 0;
    margin-top: 20px;
  }
}

#footer .footer-wrapper .footer-info ul li a {
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
}

.floating.disabled {
  display: none;
}

.floating {
  width: 300px;
  height: auto;
  padding: 20px;
  background: #5dfc70;
  position: fixed;
  z-index: 9;
  bottom: 40px;
  right: 60px;
  border-radius: 10px;
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
}

@media screen and (max-width: 660px) {
  .floating {
    display: none;
  }
}

.floating .floating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.floating .floating-wrapper p {
  color: #1d1d1f;
  width: 100%;
  margin-bottom: 20px;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

.floating .floating-wrapper span {
  font-weight: 600;
  color: #1d1d1f;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1.5em);
}

.floating .floating-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  bottom: 0;
  padding: 7px;
  color: #1d1d1f;
  font-weight: 600;
  font-size: clamp(0.8em, calc(0.1em + 1vw), 1em);
}

.floating .floating-wrapper .floating-button-inscrevase {
  border: 1px inset rgba(0, 0, 0, 0.3);
  border-left: 2px inset #1d1d1f;
  border-bottom: 2px inset #1d1d1f;
  border-radius: 30px;
}
/*# sourceMappingURL=main.css.map */