#escola {
  position: relative;
  height: auto;
  padding: 130px 0;
  background: $gray-bg;

  @media screen and (max-width: 799px) {
    padding: 70px 0;
  }

  .escola-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .escola-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media screen and (max-width: 560px) {
        flex-direction: column;
      }
      > p {
        margin-left: 100px;
        width: 230px;

        @media screen and (max-width: 560px) {
          margin-left: 0;
          margin-top: 30px;
        }
      }
      @include content-info();

      .escola-slider {
        margin-top: 80px;
        position: relative;

        .escola-buttons {
          position: absolute;
          right: 30px;
          top: -70px;
          
        }

        .escola-slider-item {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 260px;
          margin: 0 5px;
          video {
            width: 100%;
            border-radius: $radius;

            @media screen and (max-width: 470px) {
              width: 260px;
            }
          }

          .escola-video-info {
            border-radius: $radius;
            background: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 100%, 0) 50%);
            height: 100%;
            width: 100%;
            position: absolute;
            padding: 0 0 10px 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media screen and (max-width: 470px) {
              width: 260px;
            }

            span {
              left: 10px;
              font-size: 10px;
              text-transform: uppercase;
              color: $green;
            }
            strong {
              color: $white-font;
              font-size: 20px;
            }
            p {
              margin-top: 15px;
              display: flex;
              align-items: center;
              font-size: 10px;
              color: $white-font;

              i {
                font-size: 8px;
                color: $white-font;
                margin-right: 4px;

                &:nth-child(2) {
                  margin-left: 10px;
                }
              }
              
            }
          }

          @include play-button-tl();
        }
      }

    }
  }
}